@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html,body{
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden !important;
	margin: 0px !important;
	padding: 0px !important;
}

*{
	text-decoration: none !important;
}

.nav{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 0 25px;
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav .links a{
	margin-right: 25px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.nav .links .mainlink{
	color: #e0501b;
}

.nav h4{
	font-size: 22px;
	font-weight: 600;
	margin-left: 25px;

}

.landing{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw 0 10vw;
	height: 100vh;
}

.landingText h1{
	font-size: 2vw;
	margin: 0 !important;
}

.landing h3{
	margin: 6px !important;
	font-size: 20px;
	opacity: 0.3;
	line-height: 30px;
}

.landing .btn{
	width: 120px;
	margin-top: 30px;
	font-size: 1.2vw;
	padding: 14px 20px 14px 20px;
	background-color: #ffce63;
	border-radius: 45px;
	text-align: center;
}

.landing .btn a{
	font-size: 1.2vw;
	color: #fff;

}

.landingImage img{
	width: 38vw;
	margin-top: 20px;
}

.sliderContent{
	height: 700px;
	/* width: 700px; */
	padding: 40px;
	display: flex;
	justify-content: space-evenly;
	/* transition: 700px 0.5s; */
	/* transition: 0.5s; */
	flex-direction: row;
	box-shadow: 0 10px 22px rgba(0,0,0,0.09),0 10px 10px rgba(0,0,0,0.09);
	/* margin-left: 10rem;
	margin-right: 10rem; */
}

.sliderContent .mySlides{
	display: none;
	/* transition: 0.5s;
	opacity: 1; */
	/* transition: 0.9 .5s;  */
	
} 


.about{
	height: 600px;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.aboutText{
	position: relative;
	padding: 0 50px;
	height: inherit;
}

.aboutText h1{
	position: relative;
	height: 100px;
	left: 110px;
}

.aboutText img{
	width: 40vw;
	position: relative;
	top: 50px;
	
}

.aboutList{
	width: 50%;
}

ol{
	list-style: none;
	color: #33ff33;
}

ol li{
	font-size: 34px;
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

li p{
	font-size: 16px;
	color: #000;
	padding-left:60px;
	line-height: 20px;
	opacity: 0.6;
	text-align: left;
	/*margin-left: 50px;*/

}

li span{
	position: absolute;
	line-height: 25px;
	font-weight: 600;
}

.infoSection{
	/*position: relative;*/
	height: 600px;
}

.infoHeader{
	text-align: center;
	margin-bottom: 40px;
}

.infoCards{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0 40px 0;
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.10);*/
}

.infoCards .card{
	position: relative;
	height: 360px;
	width: 350px;
	background: #fff;
	box-shadow: 0 10px 22px rgba(0,0,0,0.09),0 10px 10px rgba(0,0,0,0.09);
}

.infoCards .one .cardoneImg{
	width: 240px;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.infoCards .two .cardtwoImg{
	width: 240px;
	position: absolute;
	/*top: -50px;*/
	/*right: -40px;*/
	align-items: center;
}

.infoCards .three .cardthreeImg{
	width: 240px;
	position: absolute;
	/*top: -50px;*/
	/*right: -40px;*/
	align-items: center;
}

.cardbgone{
	height: 150px;
	background-color: #fff;
}

.cardbgtwo{
	height: 150px;
	background-color: #fff;
}

.cardbgthree{
	height: 150px;
	background-color: #fff;
}

.cardContent{
	padding: 0 20px;
}

.cardContent h2{
	font-weight: 600;
}

.cardContent p{
	line-height: 30px;
	opacity: 0.6;
}

.cardContent .cardBtn{
	position: absolute;
	right: 20px;
	padding: 10px;
	background-color: #ebebeb;
	width: 25px;
	height: 20px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover{
	background-color: #31eb4a;
}

.cardContent .cardBtn .cardIcons{
	position: relative;
	top: 0px;
	left:0px;
	width: 16px;
}


.banner{
	height: 400px;
	background-color: #ffce63;
	display: flex;
	flex-direction: row;
	padding: 50px;
	justify-content: space-evenly;
	align-items: center;
}

.bannerText h1{
	font-size: 2.5vw;
	color: #000;
	font-weight: 600;
}

.bannerImg img{
	width: 30vw;
}


.footer{
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.footerlinks a{
	margin: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.footerlinks .mainlink{
	color: #e0501b;
}

footer {
    background-color: #ffce63 ;
    text-align: center;
    /* height: 30px; */
    padding: 5px;
	opacity: 0.5;
	color: #000
  }


  /* RESPONSIVE */

  @media only screen and (max-width : 600px){
	  .nav{
		  flex-direction: column;
		  justify-content: space-around;
		  padding: 20px;
		  height: auto;
		  overflow-y: hidden;
	  }

	  .nav h4{
		  font-size: 6vw;
		  margin-top: 10px;
		  margin-bottom: 14px; 
		  margin-right: 20px;
	  }

	  .nav .links a{
		  margin-right: 25px;
		  font-size: 12px;
		  font-weight: 600;
	  }

	  .landing{
		  flex-direction: column-reverse;
		  height: 750px;
		  align-items: center;
		  justify-content: center;
	  }

	  .landingText h1{
		  font-size: 6vw;
		  margin: 0 !important;
	  }

	  .landingText .btn{
		  margin: 0 auto;

	  }

	  .landingText .btn a{
		 font-size: 3vw; 
	  }

	  .landingImage img{
		  width:52vw;
		  margin-bottom: 20px;
	  }

	  .sliderContent{
		  height: 300px;
	  }

	  .sliderContent .mySlides{
		  width: 100%;
		  height: auto;
	  }

	  .about{
		  height: auto;
		  padding: 0px;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
	  }

	  .aboutText{
		  padding: 0 50px;
		  height: 100px;
	  }

	  .aboutText h1{
		  left: 40px;
		  font-size: 5vw;
	  }

	  .aboutText img{
		  width: 56vw;
		  top: 10px;
		  left: -30px;
	  }

	  .aboutList{
		  width: 75%;
		  margin-top: 50%;
	  }

	  ol li {
		  font-size: 26px;
	  }

	  li p {
		  font-size: 14px;
	  }

	  .infoSection{
		  height: auto;
	  }

	  .infoHeader{
		  text-align: center;
		  margin: 40px 0;
	  }

	  .infoCards{
		  display: flex;
		  flex-direction: column;
		  padding: 50px;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		  /* margin-right: 50%; */
	  }
	  .infoCards .card{
		  margin-bottom: 60px;
		  
	  }

	  .infoCards .one .cardoneImg{
		  display: flex;
		  justify-content: center;
		  margin-left: 20px;	  
	  }

	  .infoCards .two .cardtwoImg{
		display: flex;
		justify-content: center;
		margin-left: 20px;	  
	}

	.infoCards .three .cardthreeImg{
		display: flex;
		justify-content: center;
		margin-left: 20px;	  
	}

	.banner{
		height: auto;
		flex-direction: column-reverse;
		padding: 50px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.banner h1{
		font-size: 6vw;
	}

	.bannerInnerText{
		font-size: 3vw !important;
	}

	.bannerImg img{
		width: 26vw;
	}

	.footer{
		padding-bottom: 40px;
	}

  }